@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  --bg-color: #831843;
  --text-color: #fce7f3;
  --header-color: #db2777;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
}

header {
  margin: 0;
  padding: 1em;
  background-color: var(--header-color);
  font-family: "Roboto", sans-serif;
}
a {
  margin: 0em 1em;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid var(--bg-color);
  padding: 0em 1em;
}

.container {
  margin: auto;
  padding: 1em;
  max-width: 900px;
  font-family: "Open Sans", sans-serif;
  /* border: 2px solid yellow; */
}
/* is triangle */

.input-div {
  /* border: 5px solid green; */
  padding: 2em;
  text-align: center;
}

#angle,
#is-triangle,
#submitBtn,
#calculate-hypotenuse {
  padding: 1em 0em;
  max-width: 100%;
  width: 100%;
  margin: 1em 0em;
  text-align: center;
  text-transform: capitalize;
  outline: none;
}

#is-triangle,
#submitBtn,
#calculate-hypotenuse {
  background-color: var(--header-color);
  border: none;
  color: var(--text-color);
}

/* Triangle quiz */

.ques {
  border: 2px solid var(--text-color);
  padding: 1em;
  border-radius: 10px;
  font-size: 1.25rem;
  text-align: left;
}
